:root {
    --body-background: #bbe1cc;
    --header-logo-background: #e4fff091;
    --menu-button-color: #f5f5f5;
    --main-background: linear-gradient(90deg, #2f7c5e 0%, #50a07d 30%, #5ea587 50%, #50a07d 70%, #2f7c5e 100%);
    --intro-background: #fff;
    --content-box-shadow: 0 0 0.3rem #0000001f;
}

@font-face {
    font-family: "NikukyuMaru";
    src: url("https://nyashi.jp/font/nikumaru.woff") format("woff");
}

html {
    font-size: 62.5%;
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

@media (max-width: 1024px) {
    html {
        font-size: 1.6vw;
    }
}

body {
    margin: 0;
    padding: 0;
    background: var(--body-background);
    overflow-x: hidden;
}

a,
label {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}

.header-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    margin: 0.5rem;
    padding: 1rem;
    background: var(--header-logo-background);
    border-radius: 50%;
    z-index: 1;
}

.header-logo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.header .frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    pointer-events: none;
    background: var(--body-background);
    box-sizing: border-box;
}

.header .frame::before {
    content: "";
    display: block;
    position: fixed;
    border-bottom-left-radius: 3rem;
    width: 11.5rem;
    height: 11.5rem;
    top: 0;
    right: 0;
    background: var(--body-background);
}

.menu-button {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 7rem;
    height: 7rem;
    margin: 2.3rem;
    border-radius: 50%;
    transition: transform 0.4s;
    background: var(--body-background);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 12;
}

.menu-button #hamburger {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s, transform 0.4s;
    fill: var(--menu-button-color);
}

.menu-button #close {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.4s, transform 0.4s;
    stroke: var(--menu-button-color); 
    stroke-width: 5;
    stroke-linecap: round;
}

#menu-button-active:checked ~ .menu-button #hamburger {
    opacity: 0;
    transform: scale(0);
}

#menu-button-active:checked ~ .menu-button #close {
    opacity: 1;
    transition: opacity 0.4s, transform 0.4s;
    transform: scale(1) rotate(0deg);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 0 2rem;
    background: var(--body-background);
    transform: translateX(100%);
    transition: transform 0.4s ease;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 11;
}

#menu-button-active:checked ~ .menu {
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
}

@media (min-width: 1025px) {
    .menu {
        width: 250px;
    }
}

@media (max-width: 1024px) {
    .menu {
        width: 30rem;
    }
}

.menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

#menu-button-active:checked ~ .menu-overlay {
    opacity: 0.3;
    pointer-events: auto;
}

.main-content {
    position: relative;
    max-width: 100vw;
    padding: 0 0 4rem 0;
    margin: 1rem;
    gap: 1rem;
}

@media (min-width: 1025px) {
    .main-content {
        display: flex;
        padding: 1rem;
        border-radius: 1.5rem;
        background: var(--main-background);
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 250px;
}

@media (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}

.sidebar-scroll {
    position: sticky;
    top: 2rem;
    margin-bottom: 8rem;
    border-radius: 1rem;
    background: #ffffff11;
}

.navigation-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-selection {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.4rem;
    padding: 10%;
    margin: 0;
    width: 80%;
    text-align: left;
}

.navigation-selection li {
    display: inline;
    margin: 1.6rem 0;
    transition: color 0.2s;
}

.navigation-selection li a {
    color: #fff;
    font-size: 2.1rem;
    padding: 1rem;

    &:hover {
        border-radius: 2rem;
        background: #eef5ff4d;
        color: #fff;
        text-shadow: 0 0 0.2rem #00000066;
        transition: background 0.5s, color 0.5s, text-shadow 0.5s;
    }
}

.navigation-selection li i {
    width: 2.5rem;
    height: 2.5rem;
}

.social-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px 1rem;
    padding: 1rem;
    background: none;
    border-top: 1px solid #f2f3f65d;
}

.social-container .social-text {
    display: block;
    margin: 0;
    font-size: 2rem;
    color: #dffff2;
}

.social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    justify-content: left;
}

.social-list li {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
}

.social-list a {
    color: #fff;
    font-size: 2.5rem;

    &:hover {
        color: #a2a2a2;
        transition: color 0.2s, transform 0.2s;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.introduction {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-height: 500px;
    border-radius: 1rem;
    background: var(--intro-background);
    /* repeating-linear-gradient(45deg,
            transparent,
            transparent 8rem,
            rgba(0, 0, 0, 0.015) 8rem,
            rgba(0, 0, 0, 0.015) 8.5rem); */
    background-size: cover;
    background-repeat: no-repeat;
}

.introduction .title {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 5rem 0 0 0;
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: 1.6rem;
}

.divider {
    display: block;
    margin: 5rem 0;
    width: 100%;
    border-top: 1px solid #0000001f;
}

.profile {
    display: grid;
    grid-template-areas:
        "icon name"
        "icon description"
        "icon social";
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem;
    justify-content: left;
    border: 0.4rem solid #80cba8;
    box-shadow: var(--content-box-shadow);
}

.profile .profile-icon {
    margin: 0;
    width: 12rem;
    height: 12rem;
    left: 0;
    grid-area: icon;
}

.profile-name {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    grid-area: name;
}

.profile-name #name {
    margin: 0;
    font-size: 3.2rem;
}

.profile-name #id {
    margin: 0;
    font-size: 1.7rem;
    opacity: 0.7;
}

.profile-description {
    display: block;
    margin: 0;
    font-size: 1.9rem;
    color: #363636dc;
    overflow-wrap: anywhere;
    text-align: left;
    grid-area: description;
}

.profile-social-list {
    display: flex;
    gap: 1rem;
    grid-area: social;
}

.profile-social-list a {
    display: flex;
    width: 4rem;
    height: 3rem;
    border-radius: 2rem;
    background: #799c842b;
    color: #00000096;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #bbbbbb29;
    }
}

.content-title {
    position: relative;
    color: #80cba8;
    font-size: 3.2rem;
    font-weight: 200;
    padding-left: 20rem;
    margin: 5rem 0;
    text-shadow: 0 0 0.6rem #80cba8;

    &:before {
        content: "";
        position: absolute;
        width: 16rem;
        min-height: 1px;
        top: 50%;
        left: 2rem;
        background: #80cba8;
        box-shadow: 0 0 0.3rem #80cba8;
    }
}

.work {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 5rem;
}

.work-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.work-item {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 1280px) {
    .work-item {
        width: 900px;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {
    .work-item {
        width: 650px;
    }
}

@media (max-width: 1024px) {
    .work-item {
        width: 100%;
        justify-content: space-between;
    }
}

.work-item .work-item-image {
    width: auto;
    transition: all 0.6s ease;

    &:hover {
        transform: scale(1.08);
        box-shadow: 0 0 3.5rem #80cba8;
    }
}

.work-item .work-item-remarks {
    display: flex;
    flex-direction: column;
    width: 27rem;
    gap: 1rem;
    font-size: 0.8rem;
}

@media (max-width: 1024px) {
    .work-item .work-item-image {
        max-height: 16rem;
    }

    .work-item .work-item-remarks {
        justify-content: end;
    }
}

@media (min-width: 1025px) {
    .work-item .work-item-image {
        max-height: 250px;
    }

    .work-item .work-item-remarks {
        justify-content: center;
    }
}

.work-item .work-item-remarks #tags {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
    justify-content: left;
}

.work-item .work-item-remarks #tags a {
    color: #989898ab;
    font-size: 1.6rem;

    &:before {
        content: "# ";
    }
}

.work-item .work-item-remarks #title {
    margin: 1rem 0;
    font-size: 2.8rem;
    font-weight: 400;
}

.work-item .work-item-remarks #description {
    margin: 0;
    font-size: 1.9rem;
    color: #363636dc;
}

.work-item .work-item-remarks #detail-link {
    width: fit-content;
    color: #3d3d3d;
    font-size: 1.9rem;
    border-bottom: 1px solid #3d3d3d;

    &:hover {
        color: #9d9d9d;
        border-bottom: 1px solid #9d9d9d;
    }
}

.view-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-all-anchor {
    display: flex;
    align-items: center;
    border: 0.3rem solid #9d9d9d;
    width: 20rem;
    padding: 0.3rem;
    border-radius: 5rem;
    text-align: center;
}

.view-all-anchor .view-all-text {
    margin: 0;
    color: #383838;
    font-size: 1.2rem;
    flex: 1;
}

.view-all-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.3rem solid #4caf50;
    background: #fff;
    color: #fff;
    transition: all 0.5s ease;

    &:hover {
        color: #fff;
        background: #4caf50;
    }

    & .arrow-icon {
        width: 2rem;
        height: 2rem;
        color: #4caf50;
        transition: all 0.4s ease;
    }

    &:hover .arrow-icon {
        transform: rotate(90deg);
        color: #fff;
    }
}

.about {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 5rem;
}

.about-profile {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1280px) {
    .about-profile {
        width: 900px;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {
    .about-profile {
        width: 650px;
    }
}

@media (max-width: 1024px) {
    .about-profile {
        width: 100%;
    }
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.about-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: name;
}

.about-name #name {
    margin: 0;
    font-size: 3.2rem;
}

.about-name #id {
    margin: 0;
    font-size: 1.7rem;
    opacity: 0.7;
}

.about-description {
    position: relative;
    align-self: flex-start;
        width: 280px;
    text-align: center;
    font-size: 1.9rem;
    color: #363636dc;
    margin: 0;
    grid-area: description;
}

@media (max-width: 1024px) {
    .about-description {
        width: 100%;
    }
}

.about-image {
    position: relative;
    grid-area: icon;
}

@media (min-width: 1025px) {
    .about-icon {
        width: 320px;
        height: 320px;
    }
}

@media (max-width: 1024px) {
    .about-icon {
        width: 32rem;
        height: 32rem;
    }
}

.about-image .about-rotate-text {
    position: absolute;
    display: block;
    width: 15rem;
    height: 15rem;
    right: 0;
    top: 0;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hobby {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skill-item {
}

.experience {
    /* margin-top: 10rem; */
    display: flex;
    flex-direction: column;
}

.experience-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-left: 2px solid #4cafac;
    padding: 0 1rem 2rem 1rem;
    margin-left: 3rem;
    gap: 1rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(-1rem - 2px);
        width: 2rem;
        height: 2rem;
        background: #fff;
        border: 2px solid #4cafac;
        border-radius: 50%;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.experience-item #title {
    margin: 0 0 0 2rem;
    font-size: 2rem;
}

.experience-item #duration {
    margin: 0 0 0 3rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.experience-item #description {
    margin: 0 0 0 3rem;
    font-size: 1.6rem;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 5rem 0 0 0;
    gap: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1025px) {
    .footer {
        margin: 3rem 0;
    }
}

.license {
    font-size: 1.4rem;
    text-align: center;
}

.top-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    bottom: 2rem;
    right: 2rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: #fff;
    border: 0.3rem solid #4cafac;
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
        color: #fff;
        background: #4cafac;
    }

    &:hover .arrow-icon {
        color: #fff;
    }

    & .arrow-icon {
        width: 2rem;
        height: 2rem;
        color: #4cafac;
        transition: all 0.4s ease;
    }
}