@font-face {
    font-family: "KiwiMaru";
    src: url("fonts/KiwiMaru-Regular.ttf") format("truetype");
}

body {
    font-family: "KiwiMaru", sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
}

main {
    padding: 10px 20px 0;
}

.banner {
    background-color: #adff2f;
    color: #000;
    text-align: center;
    padding: 20px;
}


.intro {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #ffffff; */
}

.links li {
    list-style: none;
    overflow: hidden;
    width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}

.links li .thumbnail {
    border-bottom: 1px solid #d1d1d1;
}

.links li .thumbnail:hover {
    opacity: 0.8;
}

.links li .content {
    padding: 40px 20px;
}

.links li .content a {
    font-weight: bold;
    color: #55d2ee;
    text-decoration: none;
    text-align: center;
}

.links li .content a:hover {
    color: #4558c7;
}

.menu-list {
    position: fixed;
    content: "";
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #7ebe42;
    z-index: 99;
    transition: all 0.3s ease;
}

.menu-list ul {
    position: fixed;
    list-style: none;
    top: 100px;
}

.menu-list ul li a {
    font-size: 20px;
    text-decoration-line: underline;
    color: #000;
}

.menu-list ul li a:hover {
    color: #d1d1d1;
}

.menu-list p {
    position: fixed;
    padding: 0 10px;
    bottom: 0;
}

.menu-button {
    position: fixed;
    display: flex;
    padding: 30px 40px;
    top: 10px;
    left: 20px;
    cursor: pointer;
    justify-content: center;
    z-index: 100;
}

.menu-button span,
.menu-button span:before,
.menu-button span:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 25px;
    background-color: #000;
    transition: all 0.2s ease;
}

.menu-button span:before {
    bottom: 8px;
}

.menu-button span:after {
    top: 8px;
}

#menu-button-check {
    display: none;
}

#menu-button-check:checked ~ .menu-button span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-button-check:checked ~ .menu-button span::before {
    bottom: 0;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

#menu-button-check:checked ~ .menu-button span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}

#menu-button-check:checked ~ .menu-list {
    left: 0;
    transition: all 0.3s ease;
}

#footer {
    text-align: center;
    background: #d1d1d1;
    padding: 40px 40px;
}