---
export interface Props {
    title: string;
    date?: string;
}

const { title, date } = Astro.props;
---

<div class="min-w-100 w-fit relative bg-sub px-3 py-2 border-2 border-line rounded-lg after:absolute after:-top-8 after:left-10 after:w-0.5 after:h-8 after:bg-line last:before:absolute last:before:-bottom-8 last:before:left-10 last:before:w-0.5 last:before:h-8 last:before:bg-line">
    <div class="w-fit flex flex-col gap-1">
        <div class="font-semibold flex items-center gap-3">
            <p class="font-semibold text-xl">{title}</p>
            {date && <span class="font-semibold opacity-80">{date}</span>}
        </div>
        <slot />
    </div>
</div>
 