---
import Layout from "@/layouts/Layout.astro";
import Divider from "@/components/Divider.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Sidebar from "@/components/index/Sidebar.astro";
import WorkContent from "@/components/index/WorkContent.astro";
import AboutContent from "@/components/index/AboutContent.astro";
import TopButton from "@/components/TopButton.astro";
---

<Layout>
    <Header showLogo={false} />
    <main class="main-content">
        <Sidebar />
        <div class="inner">
            <div class="introduction">
                <div class="profile">
                    <img class="profile-icon" src="./assets/icon.png" alt="yuki2825624" loading="lazy" />
                    <div class="profile-name">
                        <p id="name">yuki</p>
                        <p id="id">@yuki2825624</p>
                    </div>
                    <div class="profile-birthday">
                        <i class="fa-solid fa-cake-candles"></i>
                        <p id="date">2008.11.28</p>
                    </div>
                    <p class="profile-description typing" data-text="学生。JavaScript / TypeScript を好む。;普段はウェブサイトのフロントエンド、バックエンドの開発、また、統合版Minecraftアドオン、DiscordのBot、稀にゲームなどの開発をしている。;気分では記事の執筆もしている。;最近の趣味は将棋、囲碁やチェスなど。"></p>
                    <div class="profile-social-list">
                        <a href="https://qiita.com/yuki2825624" target="_blank"><i class="fas fa-file-alt"></i></a>
                        <a href="https://github.com/yuki2825624" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="https://twitter.com/yuki2825624" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://steamcommunity.com/profiles/76561199384039065/" target="_blank"><i class="fa-brands fa-steam"></i></a>
                        <a href="https://discord.com/users/964310223235993690" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </div>
                </div>
                <Divider />
                <WorkContent />
                <AboutContent />
                <Divider />
            </div>
            <Footer />
        </div>
        <TopButton />
    </main>
</Layout>
