---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Work" showLogo={true}>
    <h1 class="mt-16 w-full text-center flex flex-col">
        <p class="text-6xl font-light tracking-[1rem]">WORK</p>
        <span class="text-sm tracking-[1rem]">ワーク</span>
    </h1>
</Layout>