<div class="flex flex-col my-14 mt-20 mb-16 gap-8 lg:mt-20 lg:mb-16">
    <footer class="text-[1.4rem] text-center">
        <p>Copyright &copy; 2024 - 2026 yuki2825624. All Rights Reserved.</p>
    </footer>
</div>