<button class="fixed bottom-8 right-8 lg:bottom-12 lg:right-12 flex items-center justify-center w-32 h-32 rounded-full bg-white border-[0.3rem] border-main text-white transition-all duration-500 ease-in-out group hover:bg-main hover:text-white cursor-pointer" title="Topへ戻る" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
    <svg class="arrow-icon w-8 h-8 text-main transition-all duration-400 ease-in-out group-hover:text-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 15L12 9L18 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
</button>
