<div class="sidebar">
    <div class="sidebar-scroll">
        <nav class="navigation-container sidebar">
            <ul class="navigation-selection">
                <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="/work"><i class="fa fa-book"></i>Work</a></li>
                <li><a href="/about"><i class="fa fa-info-circle"></i>About</a></li>
                <!-- <li><a href="./tetris/index.html" target="_blank"><i class="fa fa-tint"></i> Test</a></li> -->
            </ul>
        </nav>
        <div class="social-container sidebar">
            <p class="social-text">Social</p>
            <ul class="social-list">
                <li><a href="https://qiita.com/yuki2825624" target="_blank"><i class="fas fa-file-alt"></i></a></li>
                <li><a href="https://github.com/yuki2825624" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://twitter.com/yuki2825624" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://steamcommunity.com/profiles/76561199384039065/" target="_blank"><i class="fa-brands fa-steam"></i></a></li>
                <li><a href="https://discord.com/users/964310223235993690" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
            </ul>
        </div>
    </div>
</div>