---
import NavContent from "./NavContent.astro";
---

<NavContent title="About" href="/about">
    <div class="about-profile">
        <div class="about-info">
            <div class="about-name">
                <p id="name">yuki</p>
                <p id="id">@yuki2825624</p>
            </div>
            <p class="about-description typing" data-text="中学生の頃からプログラミングを始め、今ではフロントエンドやバックエンドなどの分野で開発を行っている。;;少し前までは、統合版MinecraftでのScriptAPIを使用したアドオンの開発に勤しんでいた。;;時にはQiitaで技術関連の記事を低頻度で投稿している。"></p>
        </div>
        <div class="about-image">
            <img class="about-icon aspect-square" src="./assets/icon.png" alt="yuki2825624" loading="lazy" />
            <img class="about-rotate-text" src="./assets/about-text.png" />
        </div>
    </div>
</NavContent>
