---
import NavContent from "./NavContent.astro";
---

<NavContent title="Work" href="/work">
    <div class="work-list">
        <div class="work-item">
            <a href="work/licu.html"><img class="work-item-image" src="assets/work/licu.png" alt="licu" loading="lazy" /></a>
            <div class="work-item-remarks">
                <h3 id="title">Licu（りつ）</h3>
                <p id="description">Discordの多機能Bot</p>
                <div id="tags">
                    <a href="https://discord.com/" target="_blank">Discord</a>
                    <a href="https://discord.com/developers/docs/intro" target="_blank">Bot</a>
                </div>
                <a id="detail-link" href="./work/licu.html">詳しく見る<i class="fa-solid fa-right-long"></i></a>
            </div>
        </div>
        <div class="work-item">
            <div class="work-item-remarks">
                <h3 id="title">Tetris（テトリス）</h3>
                <p id="description">
                    Web版のテトリス
                    <br />
                    サイト作成の練習で作成したものの、当初JavaScriptの知識しかなく、9割がJavaScriptで作成されたテトリス
                </p>
                <div id="tags">
                    <a target="_blank">Webゲーム</a>
                </div>
                <a id="detail-link" href="./tetris/index.html">詳しく見る<i class="fa-solid fa-right-long"></i></a>
            </div>
            <a href="./tetris/index.html"><img class="work-item-image" src="./assets/work/tetris.png" alt="tetris" loading="lazy" /></a>
        </div>
    </div>
</NavContent>
